# Defautl values for Whoami diagnostics container
image:
  repository: containous/whoami
  pullPolicy: IfNotPresent


strategy:
  type: Recreate

env: {}

service:
  port:
    port: 80

# traefik2 CRD IngressRoute
ingressroute:
  enabled: true
  hostname: whoami.example.test
  certResolver: default
  entryPoints:
    - websecure
  middlewares:
    - name: forwardauth-authorize
      namespace: forwardauth
